<!-- app/views/sessions/new.html.erb -->
<title>W2Y</title>
<%= stylesheet_link_tag 'session/new' %>

<%= 
  render 'shared/form', 
  form_url: get_token_path, 
  form_method: :post, 
  submit_text: 'Login', 
  link_text: 'Create new account', 
  link_url: create_path
%>
